/* windows */
.gmarks-addgmarkbutton,
.gmarks-personalbkmk .toolbarbutton-icon,
.gmarks-personalbkmk .menu-iconic-left image {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.gmarks-personalfolder .toolbarbutton-icon,
.gmarks-personalfolder .menu-iconic-left image,
.gmarks-personalfolder-all .toolbarbutton-icon,
.gmarks-personalfolder-all .menu-iconic-left image{
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.gmarksTree treechildren::-moz-tree-image(showIcon) {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.gmarksTree treechildren::-moz-tree-image(closed,showIcon) {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.gmarksTree treechildren::-moz-tree-image(open,showIcon) {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}